h1 {
    font-family: 'Alfa Slab One';
    text-align: center;
    color: white;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
}

.jumbotron {
background-color: lightseagreen;
}

.container { 
    margin-bottom: 20px;
}

 .panel-title{
    border-bottom: 1px solid lightgray;
} 


.panel-success>.panel-heading {
    border-color: lightseagreen;

}

